@charset "UTF-8";

/* 回答はここに書いてね */

/* q7_1.1 */

.q7_float_text {
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  margin-left: 50px;
  width: 225px;
}
.q7_float_text:first-child {
  margin-left: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: left;
}

/* q7_1.2 */
.q7_table_class {
  display: table;
  table-layout: fixed;
}

.q7_tablecell_class {
  font-size: 16px;
  padding-left: 50px;
  width: 225px;
  vertical-align: middle;
  display: table-cell;
}

.q7_tablecell_class:first-child {
padding-left: 0;
}

/* q7_1.3 */

/* ???? */
.q7_inlineblock_box_size {
  font-size: 0;
}

.q7_inlineblock_text {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
  width: 225px;
  vertical-align: middle;
}

.q7_inlineblock_text:first-child {
  margin-left: 0;
}

/* q7_1.4 */
.q7_flex_box {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.q7_flex_text_box {
  box-sizing: border-box;
  width: 225px;
}

/* q7_1.5 */

.q7_inline_margin_box {
  font-size: 0;
}
.q7_inline_display  {
  display: inline-block;
  font-size: 16px;
}
.q7_inline_box {
  box-sizing: border-box;
  vertical-align: top;
  width: 300px;
}

.q7_flex_margin_box {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  padding-left: 350px;
  margin-left: -300px;

}
/* 回答はここに書いてね */
