@charset "UTF-8";

/* 回答はここに書いてね */
.q4_content {
  padding: 20px;
  background-color: #eff3f4;
}

.block {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: table;
}

.block:first-child {
  margin-top: 0;
}

.bar {
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}

.bar-skin {
  width: 100px; 
  background-color: #fdc8b8;
}

.bar-purple {
  background-color: #e0abd9;
}

.bar-blue {
  width: 100px; 
  background-color: #b6d8ed;
}

.bar-yellow {
  background-color: #e5d32e;
}

.bar-pink {
  background-color: #ec8f9a;
}

.bar-green {
  width: 500px; 
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
