@charset "UTF-8";

/* 回答はここに書いてね */

/* Q6-1 左右中央寄せ */

/* Q6-1.1 */
.q6_text_align {
  text-align: center;
}

.content_display {
  width: 90px;
  padding: 10px;
  /* text-alignはインライン要素の親につけると適応 */
  display: inline-block;
  background-color: #e6f2ff;
}

 /* Q6-1.2 */
.q6_margin_auto {
  width: 90px;
  /* ブロック要素に適応 */
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #e6f2ff;
}

/* Q6-2 天地左右中央寄せ */

/* Q6-2.1 */
.q6_table_class {
  display: table;
}

.q6_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.q6_inline_block_class {
  padding: 10px;
  display: inline-block;
  background-color: #fff;
}

/* Q6-2.2 */
.q6_flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6_flex_content {
  padding: 10px;
  background-color: #fff;
}

/* Q6-2.3 */
.q6_stable_box {
  position: relative;
}

.position_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Q6-2.4 */
.q6_flexible_box {
  position: relative;
}

.q6_flexible_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
